<%= form_for(@letter) do |f| %>
    <% if @letter.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@letter.errors.count, "error") %> prohibited this letter from being saved:</h2>

          <ul>
            <% @letter.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :return_address %><br>
      <%= f.text_field :return_address %>
    </div>
    <div class="field">
      <%= f.label :body %><br>
      <%= f.text_field :body %>
    </div>
    <div class="field">
      <%= f.label :salutation %><br>
      <%= f.text_field :salutation %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
