<p id="notice"><%= notice %></p>

<h1>Listing Letters</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Return address</th>
      <th>Body</th>
      <th>Salutation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @letters.each do |letter| %>
      <tr>
        <td><%= letter.email %></td>
        <td><%= letter.name %></td>
        <td><%= letter.return_address %></td>
        <td><%= letter.body %></td>
        <td><%= letter.salutation %></td>
        <td><%= link_to 'Show', letter %></td>
        <td><%= link_to 'Edit', edit_letter_path(letter) %></td>
        <td><%= link_to 'Destroy', letter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Letter', new_letter_path %>
