<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @letter.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @letter.name %>
</p>

<p>
  <strong>Return address:</strong>
  <%= @letter.return_address %>
</p>

<p>
  <strong>Body:</strong>
  <%= @letter.body %>
</p>

<p>
  <strong>Salutation:</strong>
  <%= @letter.salutation %>
</p>

